<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Yelp Review Count</title>
        <link rel="stylesheet" href={{url_for('static',filename='css/main.css')}} type="text/css" />
        <link rel="stylesheet" href={{cdn_css|safe}} type="text/css" />
        <link href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css"
              rel="stylesheet" type="text/css" >
        <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.css"
              rel="stylesheet" type="text/css" >
        <link href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.css"
              rel="stylesheet" type="text/css" >

        <script type="text/javascript" src={{cdn_js|safe}}></script>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.js"></script>


    </head>
    <body>
      <h3> Here will be the plot</h3>
      {{script|safe}}
      {{div|safe}}
      <p> {{bv}} </p>
      <p> The bottom of my plot </p>
    </body>
</html>
